<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chang.Dao.StudentsDao">
    <select id="getCount" resultType="int">
        select count(*) from students
    </select>
    <select id="getAllStudent" resultType="students">
        select * from students
    </select>
    <insert id="insertStudent" parameterType="students" keyProperty="studentId" useGeneratedKeys="true">
        insert into students(studentname,gender,birthday,studentidno,age,phonenumber,studentaddress,classid)
         values (#{studentName},#{Gender},#{birthday},#{StudentIdNo},#{age},#{PhoneNumber},#{StudentAddress},#{ClassId})
    </insert>
</mapper>
